body {
  background-image: url('/img/check.jpeg');
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  color:white;
}
.btn-outline-warning {
  background-color: #6c757d;
  color: white;

}

.btn-outline-warning:hover {
  background-color: #2a7aca;
  color: #fff;
}

.blue-card {
  background-color: rgba(78, 5, 5, 0.651);
  color: #fff;
}