.btn-outline-warning {
    background-color: #6c757d; /* Set the background color for grey */
    color: #007bff; /* Set the text color for blue */
    border-color: #6c757d; /* Set the border color for grey */
}

.btn-outline-warning:hover {
    background-color: #007bff; /* Set the background color for blue on hover */
    color: #fff; /* Set the text color for white on hover */
    border-color: #007bff; /* Set the border color for blue on hover */
}